<h1>TP Framework Web, Symfony:</h1>
<h2>Exrecice 1:</h2>
<div>
  <ul>
    <li><strong>Num:</strong> {{ personne.num }}</li>
    <li><strong>Nom:</strong> {{ personne.nom }}</li>
    <li><strong>Prénom:</strong> {{ personne.prenom }}</li>
  </ul>
</div>
<div *ngIf="notes.length > 0">
  <h2>Exrecice 2:</h2>
  <p>Le premier élément du tableau est : {{ notes[0] }}</p>
  <p>Cet élément est {{ notes[0] % 2 === 0 ? 'pair' : 'impair' }}.</p>
</div>
<div *ngIf="notes.length > 0">
  <h2>Exrecice 3:</h2>
  <ul>
    <li *ngFor="let note of notes; let i = index">
      {{ note }} est {{ note % 2 === 0 ? 'pair' : 'impair' }}
    </li>
  </ul>
</div>
<div *ngIf="notes.length > 0">
  <h2>Exrecice 4:</h2>
  <ul>
    <li *ngFor="let note of notes; let i = index">
      {{ note }} :
      <span *ngIf="note >= 0 && note <= 9">Echec</span>
      <span *ngIf="note >= 10 && note <= 13">Moyen</span>
      <span *ngIf="note >= 14 && note <= 16">Bien</span>
      <span *ngIf="note > 16">Très bien</span>
    </li>
  </ul>
</div>
<div *ngIf="notes.length > 0">
  <h2>Exrecice 5:</h2>
  <ul>
    <li *ngFor="let note of notes; let i = index">
      {{ note }} :
      <span [ngSwitch]="true">
        <span *ngSwitchCase="note >= 0 && note <= 9">Echec</span>
        <span *ngSwitchCase="note >= 10 && note <= 13">Moyen</span>
        <span *ngSwitchCase="note >= 14 && note <= 16">Bien</span>
        <span *ngSwitchDefault>Très bien</span>
      </span>
    </li>
  </ul>
</div>
<div>
  <h2>Exrecice 6:</h2>
  <div *ngFor="let note of notes; let i = index" [ngClass]="{'even': i % 2 === 0, 'odd': i % 2 !== 0}">
    {{ note }}
  </div>
</div>
<div>
  <h2>Exrecice 7:</h2>
  <div *ngFor="let personne of personnes">
    <p>{{ personne.num }} - {{ personne.nom }} {{ personne.prenom }}</p>
  </div>
</div>
<div>
  <h2>Exrecice 7-2:</h2>
  <ul>
    <li *ngFor="let personne of personnes; let i = index" [ngClass]="{'even': i % 2 === 0, 'odd': i % 2 !== 0}">
      {{ personne.nom }} {{ personne.prenom }}
    </li>
  </ul>
</div>







